#wolfIcon {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/werewolfStanding.png");
}

#wolfIcon:hover {
    opacity: .5;
   background-image: url("../images/werewolfHowl.png");
}

#wolfIcon2 {
    height: 100px;
}

header{
    background-color: #c7ef00;
    text-align: center;
    padding: 30px;
}

.menu {
    color: #3c787e;
}

li:hover {
    background-color: #d56f3e;
    color: #241623;
}

body {
    background-image: url("../images/logoTest.png") ;
    background-size: cover;
    background-color: #d0cd94;
    color: #241623;
}

.search {
    background-color: #d56f3e;
    color: #d0cd94;
    outline-color: #3c787e
}

form {
    margin: 25px;
    padding: 20px;
    text-align: center;
    width: 30%;
    border: solid 1px #d56f3e;
    background-color: #d0cd94;
    border-radius: 60px/40px;

}

button {
    background-color: #3c787e;
    color: white;
    outline-color: #241623;
}
