#wolfIcon {
    height: 100px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/werewolfStanding.png");
}

#wolfIcon:hover {
    opacity: .5;
   background-image: url("../images/werewolfHowl.png");
}

#wolfIcon2 {
    height: 75px;
}

.jumbotron {
    margin-top: -1px;
    background-color: #8af3ff;
    text-align: center;
    padding: 30px;
} 

h1 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 55px;
}

.dropdown-item {
    background-color: #484349;
    color: #f7f0f0;
    padding: 0%;
}

.dropdown-item:hover {
    background-color: #18a999;;
    color: #241623;
}

.bg-image {
    background-image: url("../images/biglogobackground.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchbtn {
    background-color:  #058c42;
    color: #f7f0f0;
    outline-color: #18a999;
}

form {
    margin-left: 25%;
    margin-top: 10px;
    padding: 40px;
    text-align: center;
    width: 50%;
    border: solid 1.5px #18a999;
    background-color: #f7f0f0;
    border-radius: 60px/40px;
}

button {
    background-color: #18a999;
    color: white;
    outline-color: #484349;
}

footer {
    background-color: #f7f0f0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.myDiv {
    height:15%;
    width:20%;
    float: left;
}
#signInForm{
    display: none;
}
#signUpForm{
    display: none;
}
#passResetForm{
    display:none;
}
